<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css"/>
    <title>Reservas — Catálogo Django</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col pt-5">
            <h3>Catálogo de Libros</h3>
        </div>
    </div>
    <hr class="pb-3"/>
    <div class="row">
        <div class="col-lg-3 order-2 order-lg-1">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action">Libros</a>
                <a href="/genres" class="list-group-item list-group-item-action">Géneros</a>
                <a href="/languages" class="list-group-item list-group-item-action">Idiomas</a>
                <a href="/authors" class="list-group-item list-group-item-action">Autores</a>
                <a href="/reservations" class="list-group-item list-group-item-action active">Reservas</a>
            </div>
        </div>
        <div class="col-lg-9 order-1 order-lg-2">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Libro</th>
                    <th scope="col">Imprenta</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Devolución</th>
                    <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ forloop.counter }} </th>
                    <td>{{ reservation.book.title }}</td>
                    <td>{{ reservation.imprint }}</td>
                    <td>{{ reservation.status }}</td>
                    <td>{{ reservation.due_back }}</td>
                    <td><a href="" class="btn btn-sm btn-outline-info float-right text-uppercase">Ver <i class="fad fa-chevron-square-right"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="" class="btn btn-sm btn-outline-info float-right text-uppercase mb-3">Agregar Reserva <i class="fad fa-chevron-square-right"></i></a>
        </div>
    </div>
    <hr />
    &copy; 2019 Ningún derecho reservado, Los Pobres Diablos SpA.<br><small>Andrés Reyes, Carlos Lizana y Daniel Bustamante</small>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script defer src="https://fa.sitiowebonline.cl/js/all.js"></script>
</body>
</html>